#Nav {
    border: 1px solid red;
    display: flex;
    width: 95%;
    margin: auto;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}

#Subnav1 {
    display: flex;
    align-items: center;
}

#Subnav2 {
    width: 70%;
}